doctype html
html(lang="ru" class=`${mode}`)
    head
        meta(name="viewport" content="width=device-width")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="theme-color" content="#131313")
        meta(name="description" content="functional/reactive boilerplate")
        | !{title}
        | !{meta}
        link(rel="manifest" href="/manifest.json")
        link(rel="apple-touch-icon" sizes="128x128" href="public/images/logo128x128.png")
        script#prefers-scheme(type="text/javascript").
            (function () {
                const darkModeQuery = window.matchMedia('(prefers-color-scheme: dark)')

                const currentTheme = document.documentElement.dataset.theme;

                if (currentTheme !== 'dark' && darkModeQuery.matches) {
                    document.documentElement.dataset.theme = 'dark';
                }
            })();
        | !{styleChunksTags}
        | !{styleComponentsTags}
    body
        #root
            | !{html}
        #modal
        script(type="text/javascript").
            WebFontConfig = {
                google: { families: [ 'Viga|Montserrat:400,500,600&display=swap' ] }
            };

            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        script#ssr-store
            | !{storage}
        script#initial-props
            | !{initialProps}
        | !{scriptTags}
