<% if (isNeedLocales) { %>import { locales } from '../config/locales';<% } %><% if (styles === 'moduleSass') { %>
import styles from './styles.module.scss';<% } else if (styles === 'moduleCss') { %>
import styles from './styles.module.css';<% } else if (styles === 'styled') { %>
import * as S from './styles';<% } %>

import type { FC } from 'react';<% if (styles === 'css') { %>
import './styles.css';<% } else if (styles === 'sass') { %>
import './styles.scss';<% } %>
<% if (isNeedLocales) { %>
/**
 * import { EOLocale as T } from 'eo-locale';
 * for render translates
 */
console.info(locales);
<% } %>
<% if (!isPage) 'export ' %>const <%= name %>: FC = () => (<% if (styles === 'css' || styles === 'sass') { %>
	<div className="test">
		<%= name %>
	</div>
<% } else if (styles === 'moduleCss' || styles === 'moduleSass') { %>
	<div className={ styles.test }>
		<%= name %>
	</div>
<% } else if (styles === 'styled') { %>
	<S.Example>
		<%= name %>
	</S.Example>
<% } else { %>
	<>
		<%= name %>
	</>
<% } %>);
<% if (isPage) { %>
export default <%= name %>;<% } %>
